<!--counter section start-->
<section class="call-to-action ptb-100 gradient-overlay"
         style="background: url('../img/slider-img-3.jpg')no-repeat top center / cover fixed">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="call-to-action-content text-white text-center mb-4">
                    <h2 class="text-white mb-1">Increase More Traffic Your Business?</h2>
                    <p class="lead">Credibly redefine high-payoff web services after holistic experiences. Globally harness multidisciplinary solutions vis-a-vis intuitive customer service.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single-counter rounded p-4 text-center text-white">
                    <span class="ti-medall-alt icon-md"></span>
                    <h3 class="mb-0 text-white">1600</h3>
                    <p>Active users</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-counter rounded p-4 text-center text-white">
                    <span class="ti-headphone-alt icon-md"></span>
                    <h3 class="mb-0 text-white">2500</h3>
                    <p>Global client</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-counter rounded p-4 text-center text-white">
                    <span class="ti-cup icon-md"></span>
                    <h3 class="mb-0 text-white">2150</h3>
                    <p>Win award</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single-counter rounded p-4 text-center text-white">
                    <span class="ti-user icon-md"></span>
                    <h3 class="mb-0 text-white">2150</h3>
                    <p>Clients satisfaction</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--counter section end-->